* {
  box-sizing: border-box;
}

body {
  margin: 5px 20px;
}

.header {
  text-align: center;
  padding: 30px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  padding: 0px 5px;
}

.row {
  flex: 25%;
  max-width: 25%;
  padding: 0px 5px;
}

.row img {
  width: 100%;
  margin-top: 7px;
  vertical-align: middle;
}

/* Responsive css codes for 900px and 600px */
@media screen and (max-width: 900px) {
  .row {
    flex: 50%;
    max-width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .row {
    flex: 100%;
    max-width: 100%;
  }
}