* {
  box-sizing: border-box;
  padding: 0 5px;
}

/* Navbar-header CSS codes */
.header {
  background-color: pink;
  display: flex;
  justify-content: space-between;
  height: 80px;
  align-items: center;
  padding: 0 15px;
}

.headerLink {
  text-decoration: none;
  margin-right: 10px;
  color: black;
  font-weight: 600;
}

/* Banner CSS codes */ 

.banner {
  background-image: url(images/banner.jpg);
  height: 500px;
  position: relative;
  margin-bottom: 30px;
}

.bannerContent {
  text-align: center;
  position: absolute;
  left: 0px;
  right: 0px;
  top: 50px;
}

/* Card CSS codes */
.mainCard {
  display: flex;
  justify-content: center;
}

.card {
  width: 290px;
  border: 1px solid black;
  border-radius: 30px;
  margin-right: 33px;
  height: 450px;
}

.card img {
  border-radius: 30px 30px 0 0;
  width: 100%;
}

.card h3 {
  text-align: center;
}

.card p {
  padding: 5px 20px;
}

/* Form CSS codes */ 

.formDiv {
    background-color: lightgray;
    margin: 30px 290px;
    padding: 20px;
}

input[type='text'], select {
    width: 100%;
    padding: 10px 20px;
    border-radius: 5px;
    margin: 8px 0;
    border: 1px solid red;
}

input[type='submit'] {
    width: 100%;
    background-color: rgb(102, 207, 102);
    color: white;
    border: none;
    padding: 15px 0;
    margin-top: 20px;
    font-weight: 900;
}

/* Form area focus and hover css codes */
input[type='text']:focus, select:focus {
    background-color: aquamarine;
    height: 55px;
}

input[type='text']:hover, select:hover {
    background-color: chartreuse;
}

/* Footer css codes */
.footer {
    padding: 5px 0;
    background-color: chocolate;
    text-align: center;
}
